* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;
}
main{
  padding-top: 10vh;
}
header {
  z-index: 1000;
  text-decoration: none;
}
.col-md-3{
  padding: 5vh;
  background-color: #5cb85c;
}
.col-md-9{
  padding: 5vh;
}
.col-md-6{
  margin-bottom: 2vh;
}
.card-body{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.card img{
  width: auto;
  height: 25vh;
}
.rating{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.rating p{
  color: black;
  padding: 0;
  margin: 0;
}
.rating input{
  color: black;
  border-style: none;
  background-color: transparent;
  width: 1.5vh;
  margin-left: 2vh;
}