* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;
}
main{
  padding-top: 10vh;
}
header {
  z-index: 1000;
  text-decoration: none;
}
.col-md-3{
  padding: 5vh;
  background-color: #5cb85c;
}
.col-md-6{
  margin-bottom: 2vh;
}
.card-body{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.card img{
  width: auto;
  height: 25vh;
}
.rating{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.rating p{
  color: black;
  padding: 0;
  margin: 0;
}
.rating input{
  color: black;
  border-style: none;
  background-color: transparent;
  width: 3.5vh;
  text-align: right;
}
#search{
  padding-top: 3vh;
}
.search-container{
  position: relative;
  width: 100%;
}
.search-input{
  border-radius: 2vh;
  border-style: none;
  border: 0.2vh solid black;
  padding: 1vh;
  width: 100%;
}
.search-input input{
  font-size: 1.5vh; 
}
.search-button{
  position: absolute;
  right: 3vh;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border-style: none;
}
.search-button:hover{
  color: #5cb85c;
}
.pages{
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
}
.pages button{
  background-color: transparent;
  color: black;
  font-size: 1.7vh;
  border-style: none;
  margin-left: 1vh;
  border-radius: 1vh;
  padding: 1vh;
}
.pages button:hover{
  background-color: #5cb85c;
  color: white;
}
.pages button:active, .pages button:hover{
  background-color: black;
}
#pop-ups{
  align-items: center;
  justify-content: right;
  display: flex;
}
#pop-ups button{
  border-style: none;
  background-color: lightgray;
  border-radius: 1vh;
  color: black;
  padding: 1vh;
  font-size: 1.3vh;
  margin: 0 0.5vh;
}
#pop-ups button:hover{
  background-color: #5cb85c;
  color: white;
}
.words-content button:hover{
  background-color: black;
  color: white;
}
.words-content button{
  background-color: white;
  color: black;
  border-style: none;
  border-radius: 1vh;
  padding: 0.8vh;
  font-size: 1.5vh;
  margin-right: 0.8vh;
}
.words-content i{
  font-size: 1.3vh;
  padding-left: 1vh;
  padding-right: 0.5vh;
}