* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Mulish", sans-serif;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
}
main{
  padding-top: 10.3vh;
  height: 100vh;
}
.select-bar{
  background-color: #14ac5c;
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 7vh 3vh 7vh 3vh;
  justify-content: space-between;
  font-size: 1.9vh;
}
.price{
  display: flex;
  flex-direction: column;
  width: 80%;
}
.price-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between  ;
}
.filter{
  display: flex;
  flex-direction: column;
}